extends layout 

block content 
div 
    form(action="/signup" method="get") 
        h1 Registration
        div(class="abc")
            label(for="") UserName
            input(type="text" placeholder="Enter name")
        div
            label(for="") Password
            input(type="password" placeholder="password") 
        div 
            input(type="submit" value="login" id="submit")
    
        
            